<ion-content>
  <div class="contenido">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
              <div class="vacio-xl"></div>
            </ion-col>
            <ion-col  size="12" class="logo-contenido">
              <img class="logo" src="../../assets/logo.svg">
            </ion-col>
          </ion-row>
    </ion-grid>    
  </div>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name=""><a href=""></a></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
